<div class="menu">
    <div class="menuOption">
        Sort By:
    </div>
    <label>
        <input type="radio" name="Sort" value="followers"
            (click)="filterChecked($event.target.name, $event.target.value)" [checked]="compareBy=='followers'">
        Followers
    </label> <br>
    <label>
        <input type="radio" name="Sort" value="repos" (click)="filterChecked($event.target.name, $event.target.value)"
            [checked]="compareBy=='repos'">
        Repos
    </label>
    <div class="menuOption">
        Language:
    </div>
    <label *ngFor="let language of languages" class="languages">
        <input type="radio" name="Language" value="language"
            (click)="filterChecked($event.target.name, language)" [checked]="language==compareByLanguage">
        {{language=='C%2B%2B'? 'C++':language=='C%23'? 'C#': language}}
    </label>
</div>


<cdk-virtual-scroll-viewport itemSize="200" class="container-fluid h-100">
    <div class="title">
        Top 100 github profiles
    </div>
    <div *cdkVirtualFor="let topProfile of topProfiles; index as i" class="profiles">
        <div class="index">
            {{i+1}}
        </div>
        <div class="col">
            <img src={{topProfile.avatar_url}} />
        </div>
        <div class="col-8">
            Name: {{topProfile.login}}({{topProfiles[i].name}}) <br> 
            Repos: {{topProfiles[i].public_repos}} <br> 
            Followers: {{topProfiles[i].followers}} <br>
            Active since: {{topProfiles[i].created_at | date: 'dd/MM/yyyy'}} <br>
            <a href={{topProfiles[i].html_url}}>Go to the Github profile</a>
        </div>
    </div>
</cdk-virtual-scroll-viewport>