<div class="menu">
    <div class="menuOption">
        Sort By:
    </div>
    <label>
        <input type="radio" name="Sort" value="Followers" (click)="filterChecked($event.target.value)" checked>
        Followers
    </label> <br>
    <label>
        <input type="radio" name="Sort" value= "Repos" (click)="filterChecked($event.target.value)">
        Repos
    </label>
    <div class="menuOption">
        Language: 
    </div>
        <label>
            <input type="radio" name="Language" value="Js" (click)="filterChecked($event.target.value)" checked>
            Js
        </label> <br>
        <label>
            <input type="radio" name="Language" value= "Cpp" (click)="filterChecked($event.target.value)">
            Cpp
        </label> <br>
        <label>
            <input type="radio" name="Language" value= "Python" (click)="filterChecked($event.target.value)">
            Python
        </label>
</div>
<div class="container-fluid h-100">
    <div class="tab">

    <div class="table">
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
                <div class="desc">
                    <div>
                        Nume: un nume
                    </div>
                    <div>
                        Repos: un nr
                    </div>
                    <div>
                        alte detalii: 
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
                <div class="desc">
                    <div>
                        Nume: un nume
                    </div>
                    <div>
                        Repos: un nr
                    </div>
                    <div>
                        alte detalii: 
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/400?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
            <div class="col">
                <img src="https://picsum.photos/200/300?random=1" />
            </div>
        </div>

    </div>
</div>
</div>