.container-fluid {
    background-color: whitesmoke;
    display: inline-flex;
    justify-content: right;
    width: 75%;
    float: right;
}


.menu{
    padding-top: 10vh;
    padding-left: 3vw;
    position: fixed;
    width: 25%;
    background-color: whitesmoke;
    height: 100%;
}

.column{
    display: inline-flex;
    justify-content: right;
}

img {
    height:100%;
    width: 90%;
}

.languages{
    display: block;
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 2vh;
}

.title{
    padding: 5vh;
    text-align: center;
}

.col{
    height: 100%;
}

