.container-fluid {
    background-color: whitesmoke;
    display: inline-flex;
    justify-content: right;
    width: 75%;
    float: right;
}


.menu{
    padding-top: 10vh;
    padding-left: 3vw;
    font-size: 3vmin;
    position: fixed;
    width: 25%;
    background-color: whitesmoke;
    height: 100%;
}


img {
    height:auto;
    width: 75%;
}

.languages{
    display: block;
}

.profiles{
    display: flex;
    justify-content: center;
    height: 30vmin;
    padding-top: 2vh;
}

.title{
    padding: 5vh;
    text-align: center;
    font-size: 4vmin;
}

.col{
    height: 100%;
}

.index{
    padding-top: 10vmin;
    font-size: 5vmin;
    font-weight: bold;
}

.col-8{
    font-size: 3vmin;
}


