
.title{
    padding: 3vmin;
    padding-bottom: 10vh;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
}
.container-fluid {
    
    padding-left: 10%;
    padding-right: 10%;
    background-color: whitesmoke;
    min-height: 100%;
}

.tab{
    overflow-x: auto;
    height:fit-content;
    max-height: 70vh;
}

table {
    width: 100%;
    border-width: 1px;
    border-color: black;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {background-color: #d8d8d8;}