.navbar {
    height: 8%;
    min-height: 3%;
}
.navbar li {
    font-size: 200%;     
}

.container-fluid{
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}
.main{
    background-color: cadetblue;
    height: 92%;  /* poate aici altfel facut*/
}

