.navbar {
    height: 8%;
    min-height: 3%;
}
.navbar li {
    font-size: 5vmin;     
}

.container-fluid{
    background-color: cadetblue;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

