.versus{
    font-size: x-large;
    font-weight: bold;
    color: #ad2d33;
    
}

.container-fluid {
    
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    min-height: 100%;
}
