 <p></p>
 <form class="form-inline" action="/action_page.php">
    <input #username
      class="form-control mr-sm-2" 
      type="text" 
      placeholder="Search">
    <button 
      class="btn btn-success" 
      type="submit"
      (click)="onBattle(username.value); username.value='' ">
    Search</button>
  </form>
  <p></p>

  <p *ngIf="cauta">
    <app-profile></app-profile>
  </p>
  <p>aici o sa fie unde sa cauti profilurile, momentan am facut 
    doar de proba sa vad cum pot sa caut si sa afisez un profil
  </p>