.versus{
    font-size: 3vmin;
    font-weight: bold;
    color: #ad2d33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container-fluid {
    background-color: whitesmoke;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;

}

.title{
    font-size: 8vmin;
    font-weight: bolder;
    color: #264653;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label.sm{
    display: inline-block;
    width: 33%;
    font-size: 3vmin;
}


.compare{
    padding-top: 7vh;
    font-size: 3vmin;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkboxes{
    padding-top: 3vh;
}

input{
    padding: 3vmin;
    font-size: 3.5vmin;
}

form{
    padding: 5vmin;
}

button{
    font-size: 2.5vmin;
}

 .info {
    position: relative;
    display: inline-block;
    font-size: 4vmin;
    font-weight: bold;
    color: grey;
    float: right;
  }
  
  .info .infoText {
    visibility: hidden;
    width: 50vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 2vmin;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top:125%;
    right: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  
  .info:hover .infoText {
    visibility: visible;
    opacity: 1;
  } 








