.versus{
    font-size: 3vmin;
    font-weight: bold;
    color: #ad2d33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container-fluid {
    background-color: whitesmoke;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;

}

.title{
    font-size: 8vmin;
    font-weight: bolder;
    color: #264653;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label.sm{
    display: inline-block;
    width: 33%;
    font-size: 3vmin;
}


.h1{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.compare{
    padding-top: 7vh;
    font-size: 3vmin;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkboxes{
    padding-top: 3vh;
}

input{
    font-size: 2.5vmin;
}

form{
    padding-bottom: 3vh;
}

button{
    font-size: 2.5vmin;
}








