
.container-fluid {
    background-color: whitesmoke;
    height: 100%;
    justify-content: center;
}


.col-5.true{
    border: 3px solid green;
}

.col-5.false{
    border: 3px solid red;
}

.row{
    justify-content: space-between;
    padding-top: 5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.col-7{
    font-size: 2vmin;
}

.winner{
    color: green;
    font-weight: bolder;
    font-size: 5vmin;
}

.title{
    height: 7vmin;
}

.title{
    font-size: 2vmin;
    font-weight: bold;
}

.chart{
    justify-content: center;
    display:block;
    height: 40vmin;
    padding-top: 5vh;
}

.scores{
    text-align: center;
    font-weight: bold;
}



