<div  class="container-fluid w-100">
    <div class="row w-100" *ngIf="!hasError">
    <div *ngIf="firstProfile.profile" class="col pt-5">
        <div class="row h1">
            Username: {{firstProfile.profile.login}}
        </div>
        <div class="row d-flex">
            <div class="col">
                <img src="{{firstProfile.profile.avatar_url}}" class="img-fluid float-left img-thumbnail" alt="First Profile Img">
            </div>
            <div class="col-9">
                <a href="{{firstProfile.profile.html_url}}">Go to the Github profile</a>
                <p>Full name: {{firstProfile.profile.name}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="secondProfile.profile" class="col pt-5">
        <div class="row  h1">
            Username: {{secondProfile.profile.login}}
        </div>
        <div class="row d-flex">
            <div class="col">
                <img src="{{secondProfile.profile.avatar_url}}" class="img-fluid float-left img-thumbnail" alt="Second Profile Img">
            </div>
            <div class="col-9">
                <a href="{{secondProfile.profile.html_url}}">Go to the Github profile</a>
                <p>Full name: {{secondProfile.profile.name}}</p>
            </div>
        </div>
    </div>
    </div>
    <div *ngIf="hasError">
        an error occurred. please try again
    </div>


</div>
