<div class="container-fluid">
    <div class="title">
        Most searched profiles
    </div>
    <div class="tab">
        <table>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Name</th>
            <th>Searches</th>
            <th>Profile link</th>
          </tr>
          <tr *ngFor="let profile of topProfiles; index as i">
            <td>{{i+1}}</td>
            <td>{{profile.login}}</td>
            <td>{{profile.name? profile.name: '-'}}</td>
            <td>{{profile.count}}</td>
            <td><a href={{profile.profileLink}} target="_blank">{{profile.profileLink}}</a></td>
          </tr>
        </table>
      </div>
</div>